/*h1{
  font-size: 75px;
  font-family: cursive;
  font-style: italic;
} */

@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

body {
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

.intro-tagline {
  font-size: 20px;
  /*font-family: sans-serif;*/
}

div.form{
  text-align: center;
}

div.logo{
  max-width: 100%;
  width: auto;
  height: auto;
}

div.intro{
  background-color: white;
  padding: 50px;
  text-align: left;
  font-size: 35px;
  text-align: center;
}

div.about{
  /*background-color: lightblue;*/
  /*padding: 150px;*/
  text-align: center;
  color: black;
  position: relative;
}

div.team{
  vertical-align: top;
  font-size: large;
  text-align: left;
  display: inline-block;
  width: 80%;
  min-height: 100px;
}

div.cover{
  position: absolute;
  left: 350px;
}

.left {
  vertical-align: top;
  font-size: large;
  text-align: left;
  text-decoration: none;
}

div.dfa{
  background-color: grey;
  position: relative;
  text-align: center;
  color: black;
}

.left,
.right {
  display: inline-block;
  width: 40%;
  min-height: 100px;
}

div.profiles{
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 28%;
  min-height: 300px;
  color: grey;
}

.name{
  font-size: 30px;
  text-align: center;
  color: black;
}

.profile-img{
  display: block;
  position: relative;
  border: white;
  border-radius: 200px;
  left: 25%;
}

.profile--1{
}

.profile--2{
}

.profile--3{
}

.about-img {
  display: block;
  position: relative;
  border: black;
  border-radius: 15px;
}

.about-img--1 {
  left: 50%;
  top: 12px;
}

.about-img--2 {
  left: 10%;
  top: -20px;
}

.about-img--3 {
  left: 70%;
  top: -30px;
}

.about-img--4 {
  left: 20%;
}

.about-img--5 {
  left: 80%;
  top: -90px;
}

.about-img--6 {
  left: 20%;
  top: -250px;
}

.about-img--7 {
  left: 50%;
  top: -200px;
}

p {
  line-height: 1.8;
  color: #828282;
}
